
body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header {
    border-bottom: 1px solid black;
    font-size: 30px;
}

main {
    align-self: center;
}

#board {
    width: 500px;
    height: 500px;

    border: 1px solid black;
    background-color: #DDDDDD;


    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

}

.section {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

    border: 1px solid black;
}

.cell {
    border: 1px solid black;

    padding-top: 2px;
    font-size: 44px;
    text-align: center;
    
}